input,
    textarea {
    width: 100%;
    padding: 5px;
    outline: none;
  }

  .form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

form{
    width: 80%;
    padding: auto;
  }

  label {
    line-height: 1.9rem;
  }

  input[type="submit"] {;
   padding: 3px;
   margin-top: 0.6rem;
   font-weight: bold;
  }



.form-control {
    margin-bottom: 10px;
    background-color: #e5d8f5;
}
